.tweet{
    display: flex;
    border: 1px solid #cfd3d6;
    margin-bottom: 10px;
    padding: 0 0 0 15px;
    border-radius: 20px;
}

.tweet:hover{
    background: rgba(0, 0, 0, 0.03);
}

.tweet a{
    color: #DB2E2E;
    text-decoration: none;
}

.tweet a:hover{
    text-decoration: underline;
}

.tweet__author-logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.tweet__header{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.tweet__author-name{
    font-size: 17px;
    font-weight: 700;
    color: #14171a;
    margin-right: 5px;
}

.tweet__publish-time{
    margin-top: 10px;
    color: #657786;
    margin-bottom: 20px;
}

.tweet__title{
    font-weight: 700;
    margin-top: 5px;
    padding: 13px 0 10px 0;
}
.tweet__content{
    padding-right: 5px;
}
.tweet__hastag{
    color: #657786;
    font-weight: 700;
}

.tweet__image{
    width: 100%;
    max-height:100%;
    max-width:100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tweet__bottombar{
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 10px;
}

.tweet__bottombar-block{
    font-size: 15px;
    color: #0F141A;
    display: flex;
    align-items: center;
}


.tweet__bottombar-block:hover{
    color: #DB2E2E;
}

.tweet__bottombar-item-icon{
    height: 20px;
    padding: 5px;
}

.tweet__bottombar-item-icon:hover{
    background: rgba(219, 46, 46, 0.1);
    border-radius: 20px;
    cursor: pointer
}

.tweet__comment-bar{
    font-size: 15px;
    color: #71767a;
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(32, 35, 39, 0.1);
    border-radius: 20px;
  }
  
  .tweet__comment-bar:hover{
    font-size: 15px;
    color: #ffffff;
    border: 2px solid #DB2E2E;
    display: flex;
    align-items: center;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }
  
  .tweet__comment-bar-icon{
    margin-left: 2px;
    height: 15px;
    margin-right: 10px;
  }
  
  .tweet__comment-bar-input{
    font-size: 15px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
  }
  
  [type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: var(--color);
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
  }